body {
	font-family: 'Inconsolata', monospace;
	overflow-y: scroll;

}


header,
.header-div,
main,
footer,
ul figure, 
iframe,
ul,
.lightbox-ctnr .lightbox-box,
.lightbox-ctnr figure,
.lightbox-ctnr img  {
	display: flex;
	display: ms-flexbox;
}


header {
	position: fixed;
	top: 0;
	background-color: rgba(255,255,255,.8);
	flex-direction: column;
}

main {
	padding-top: 130px;
}

body, header {
	width: 100%;
}

.header-div,
footer {
	width: calc(100% - 30px);
	margin: 0 auto;
}

main {
	width: 100%;
}

input {
	height: 45px;
	width: 100%;
	max-width: 460px;
	border-radius: .3em;
	outline: none;
	border: 2px solid #acacac;
	padding-right: 15px;
	padding-left: 15px;
	color: #858585;
	font-size: 16pt;
}

header {
	align-items: center;
	justify-content: center;
}

.header-div {
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 130px;
	padding: 20px 0;
	box-sizing: border-box;
}

h1 {
	font-size: 2em;
	text-align: center;
	color: #858585;
}

h2 {
	text-align: center;
	font-weight: 700;
	padding: 2px;
}

p {
	margin-bottom: 4px;
}

main {
	justify-content: center;
}

ul figcaption {
	display: none;
}

ul figure, iframe {
	margin: 15px;
	max-width: 200px;
	max-height: 200px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

ul img {
	width: 100%;
}

ul a {
	margin: 0;
	padding: 0;
	max-width: 200px;
	max-height: 200px;
}

ul {

	flex-wrap: wrap;
	justify-content: center;
}


/*-------------Light Box--------------*/

.lightbox-ctnr {
	width: 100vw;
	height: 100vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	background-color: rgba(0,0,0,.9);
	align-items: center;
	justify-content: center;
	overflow-y: scroll;
	display: none;

}



.lightbox-ctnr .lightbox-box {

	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;




}

.lightbox-ctnr figure {

	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 100%;
}

.lightbox-ctnr img {
	width: 100%;
}

.lightbox-ctnr figcaption {

	padding-top: 10px;
	color: white;
	max-width: 600px;
	width: 90%;
	box-sizing: border-box;
	text-align: left;


}


/*---------end----------*/


/*-----clear rules to get real img ratio-----*/

.reset-img-js {

	width: 100px !important;
	height: auto !important;
	max-height: auto !important;
	max-width: auto !important;
	padding: 0 !important;
	margin: 0 !important;
	overflow: hidden;

}



footer {
	min-height: 50px;
}

a iframe {
	z-index: -1;
	position: relative;
}




@media (min-width: 768px)  {

	ul {
		justify-content: space-around;
	}
	.header-div,
	footer,
	main {
		width: calc(100% - 60px);
		margin: 0 auto;
	}

	.lightbox-ctnr .lightbox-box {
		max-width: 80%;
	}

	.lightbox-ctnr figure {
		max-width: 800px;
	}

	.lightbox-ctnr figcaption {
		padding-top: 15px;
		width: 100%;
	}

}



@media (min-width: 1100px) {

	.header-div,
	footer,
	main {
	width: 100%;
	margin: 0 auto;
	max-width: 1040px;
	}


	ul figure, iframe {
		margin:30px;
	}

	ul {
		justify-content: center;
	}


	.lightbox-ctnr figcaption {
		padding-top: 25px;
	}


}

/*@media (min-width: 1024px) {

	.header-div,
	footer,
	main {
	width: calc(100% - 240px);
	margin: 0 auto;
	max-width: 1100px;
	}

	figure {
		margin:8px;
	}
}*/

