body {
	font-family: 'Inconsolata', monospace;
}

header {
	position: fixed;
	top: 0;
	background-color: rgba(255,255,255,.8);
}

main {
	padding-top: 130px;
/*	background-color: green;*/
}

header,
.header-div,
main,
footer {
	display: flex;
}


body, header {
	width: 100%;
}


.header-div,
footer {
	width: calc(100% - 30px);
	margin: 0 auto;
}

main {
	width: 100%;
}




input {
	height: 45px;
	width: 100%;
	max-width: 460px;
	border-radius: .3em;
	outline: none;
	border: 2px solid #acacac;
	padding-right: 15px;
	padding-left: 15px;
	color: #858585;
	font-size: 16pt;
}

header {
	align-items: center;
	justify-content: center;
}

.header-div {
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 130px;
	padding: 20px 0;
	box-sizing: border-box;
}

h1 {
	font-size: 2em;
	text-align: center;
	color: #858585;
}

main {
	justify-content: center;
}

figcaption {
	display: none;
}

figure {
	margin: 15px;
	max-width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

img {
	width: 100%;
}

ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

footer {
	min-height: 50px;
}

@media (min-width: 768px) {

	ul {
		justify-content: space-around;
	}
		.header-div,
	footer,
	main {
	width: calc(100% - 60px);
	margin: 0 auto;

	}

}


@media (min-width: 1100px) {

	.header-div,
	footer,
	main {
	width: calc(100%);
	margin: 0 auto;
	max-width: 1040px;
	}


	figure {
		margin:30px;
	}

	ul {
		justify-content: center;
	}



}

/*@media (min-width: 1024px) {

	.header-div,
	footer,
	main {
	width: calc(100% - 240px);
	margin: 0 auto;
	max-width: 1100px;
	}

	figure {
		margin:8px;
	}
}*/